.studentTbl {
  margin: 50px 50px;
  width: min-content;
  min-width: 700px;
  height: min-content;
  min-height: 40vh;
  box-shadow: 0px 0px 2px 2px #ccc;
  border-radius: 20px;
  padding: 50px;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #adb5bd;
}
.tblName {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.inputSearch {
  width: 400px;
  padding: 10px 20px;
}
