.info {
  margin: 50px auto;
  width: max-content;
  font-size: 18px;
  padding: 70px 50px;
  border-radius: 50px;
  box-shadow: 0 0 1px 1px #ccc;
  position: relative;
}
.header {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  column-gap: 30px;
  margin-bottom: 30px;
}
.img {
  width: 130px;
  height: 120px;
  background-image: url("../img/user.png");
  background-size: cover;
  background-position: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
span {
  margin-right: 20px;
  font-weight: bold;
}
p {
  text-align: start;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.boxBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.btn {
  padding: 3px 10px;
  position: relative;
  bottom: 0;
  right: 0;
}
.ip {
  width: 50px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.btnCheck {
  width: 35px;
  margin-right: 10px;
}
.ipScore {
  width: 10px;
}
